<p [ngClass]="{invisible:!visibility}" [ngStyle]="{'font-size':'14px','font-family' : 'Verdana'}">to-do-items works!</p>

<!-- <h2>{{toDoItem.name}} Details: </h2>
<div><span>id: </span>{{toDoItem.id}}</div>
<div><span>name: </span>{{toDoItem.name}}</div>
<div><span>isComplete: </span>{{toDoItem.isComplete}}</div> -->

<div *ngIf="selectedItem">
    <h2>{{selectedItem.name}} Details: </h2>

    <form #selectedForm="ngForm">

        <div><label for="name">Name:</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="selectedItem.name" required />
        </div>
        <div><label for="isComplete">Complete:</label>
            <input type="checkbox" id="isComplete" name="isComplete" [(ngModel)]="selectedItem.isComplete" required />
        </div>
    </form>

    <div><span>id: </span>{{selectedItem.id}}</div>
    <div><span>name: </span>{{selectedItem.name}}</div>
    <div><span>isComplete: </span>{{selectedItem.isComplete}}</div>
</div>


<h2>My List</h2>
<ul class="items">
    <li *ngFor="let item of items" (click)="onSelect(item)" [class.selected]="item===selectedItem"
        [style.textDecoration]="item.isComplete ? 'line-through':'none'">
        {{item.id}}. {{item.name}}</li>
</ul>

<div class="counter" *ngIf="items.length>0">
    {{items.length}} {{items.length == 1 ? 'item' : 'items'}}
</div>

<div [ngSwitch]="items.length">
    <p *ngSwitchCase="0">You have no item!</p>
    <p *ngSwitchCase="1">You have one item!!</p>
    <p *ngSwitchDefault>You have many item!</p>
</div>


<div [ngSwitch]="car">
    <p *ngSwitchCase="'Audi'">This is Audi!</p>
    <p *ngSwitchCase="'Volvo'">This is Volvo!</p>
    <p *ngSwitchCase="'BMW'">This is BMW!</p>
    <p *ngSwitchDefault>Car is undefined!</p>
</div>